/* CTools */

#modalContent {
  div.ctools-modal-content {
    .modal-header{
      background: #2fa6e5;
    }
    .modal-title {
      color: #fff;
      font: bold 20px/50px 'Open Sans','Lucida Sans','Lucida Grande', Verdana, sans-serif;
      text-shadow: none;
      padding: 0;
    }
  }
}

#modal-content {
  .form-item-title-embed,
  .form-item-title-link {
    float: left;
  }
  .form-type-radios.form-item-display-options {
    margin: 0px;
    padding: 0px;
    text-align: left;
    background-color: #FFF;
  }
  //form {
  //  .option-text-aligner {
  //    float: left;
  //    width: 100%;
  //  }
  //  .description {
  //    float: left;
  //  }
  //}
  .form-submit {
    float: left;
  }
  .form-actions {
    width: auto;
  }
  form-wrapper.form-actions {
    border: none;
    background: none;
  }
}
